
/* ACF Core 
------------------------------------------------------------*/
.acf-flexible-content .layout .acf-fc-modal-content > .acf-table {
	border: 0 none;
	box-shadow: none;
}
.acf-flexible-content .layout .acf-fc-modal-content > .acf-table > tbody > tr {
	background: #fff;
}
.acf-flexible-content .layout .acf-fc-modal-content > .acf-table > thead > tr > th {
	background: #F9F9F9;
}
.acf-repeater .acf-row.-collapsed .acf-fc-modal-content > .acf-fields > * {
	display: none !important;
}
.acf-repeater .acf-row.-collapsed .acf-fc-modal-content > .acf-fields > .acf-field.-collapsed-target {
	display: block !important;
}

.acf-tooltip,
.acf-fc-popup {
	z-index: 10002 !important;
}

/* All collapsed */
.acf-fields.-top > .acf-field-flexible-content > .acf-input > .acf-flexible-content > .values > .layout > .acf-fc-layout-handle {
	border-bottom-width: 0;
}
.acf-fields.-top > .acf-field-flexible-content > .acf-input > .acf-flexible-content > .values > .layout > .acf-fields,
.acf-fields.-top > .acf-field-flexible-content > .acf-input > .acf-flexible-content > .values > .layout > .acf-table {
	display: none;
}

/* Modal
------------------------------------------------------------*/
body.acf-modal-open {
	overflow: hidden;	
}

#acf-flexible-content-modal-overlay {
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.acf-flexible-content .layout.-modal {
	z-index: 10001;
	position: fixed !important;
	top: 5vh !important;
	left: 0 !important;
	right: 0 !important;
	margin: auto;
	width: 90vw;
	max-width: 960px;
	max-height: 90vh;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}

.acf-flexible-content .layout > .acf-fc-modal-content {
	display: none;
}

.acf-flexible-content .layout.-modal > .acf-fc-modal-content {
	display: block;
    overflow: auto;
    max-height: calc(90vh - 38px);
}

.acf-flexible-content .layout .acf-fc-modal-title {
	display: none;
	box-sizing: border-box;
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
	background: #eee;
	border-bottom: 1px solid #dfdfdf;
}

.acf-flexible-content .layout .acf-fc-modal-title > .acf-icon {
	float: right;
	top: 4px;
}

.acf-flexible-content .layout .acf-fc-modal-title > .acf-fc-layout-order {
	background: #ddd;
}

.acf-flexible-content .layout.-modal .acf-fc-modal-title {
	display: block;
}

.acf-flexible-content .layout.-modal > .acf-fc-layout-controlls,
.acf-flexible-content .layout.-modal > .acf-fc-layout-handle {
	display: none;
}

.acf-flexible-content .layout.fc-modal > .acf-fc-layout-handle {
	border: none !important;
}

.acf-icon.-pencil:before {
	font-size: 12px;	
}

.acf-flexible-content .layout.layout-error-messages > .acf-fc-layout-handle .acf-fc-layout-order { 
	background: #F55E4F;
	color: #fff; 
}
